/*== RESET ==*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
/*==BASE==*/

/*==?? ==*/
:root {
  font-size: 10px; /* 16px */
}

/*==LAYOUT==*/
#header {
  height: 4.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
}
.logo {
}

.container {
  width: 100%;
  margin-left: 1 0.5rem;
  margin-right: 1.5rem;
}

/*==HOME==*/
